# Python files
*.py

# Virtual environments
.venv/
venv/

# Admin panel
admin/

# Local scripts
update_links.js
update_blog_index.js
sitemap.py
run-x.py
push_it.bat

# Volunteer local tools
volunteer/run.py

#htmls
google-site-verification: google0d680905eee06fc0.html
cyber-awareness.html

# Image readme
assets/images/web/README.md

# VS Code
.vscode/

# Python cache
__pycache__/
*.pyc